.home-page .input-wrapper {
  padding: 10px;
}

.home-page .input-wrapper input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.page-content {
  min-height: 80vh;
  background-color: #bbb6b65e;
  display: flex;
  justify-content: center;
  padding: 50;
}

.home-button {
  position: relative !important;
  padding: 10px 8px 10px 8px;
  color: rgb(102, 99, 99) !important;
  background: transparent;
  border-radius: 3px;
  font-size: xx-large;
  margin-right: 30px;
  margin-left: 30px;
}
