.header {
  background-color: #bbb6b65e;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(15px + 3vmin);
  color: white;
}

.header-buttons {
  justify-content: right;
}

.btn-space {
  margin-right: 5px;
}

.page-content {
  min-height: 150vh;
  background-color: #bbb6b65e;
  justify-content: center;
}

.Home-link {
  color: #61dafb;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}
